.aboutus{
    text-align: justify;
    padding: 20px;
    border: 5px solid grey;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    background-color:floralwhite;
    color: darkblue;
    border-radius: 10px;

}
